input[type="button"] {
    background-color: blue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: darkblue;
}

input[type="button"]:active {
    background-color: navy;
}

input[type="text"] {
    padding: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
}

select {
    padding: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border: 2px solid #3498db;
}

table caption {
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #555;
    color: white;
}

table td:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
}

s {
    color: red;
}